* {
    margin: 0;
}

header {
    height: 10vh;
}

footer,
main {
    height: 100vh;
}

/* button {
    border: none;
    background-color: transparent;
    font-size: 1.25rem;
    transition: 0.3s;
    cursor: pointer;
}

button:hover {
    transform: translateY(-3px);
} */

.dark {
    background-color: black;
    color: white;
}

/********** SHOPPING CART **************/
.box {
    padding: 1rem;
    margin: 1rem;
    background-color: aqua;
}

.grid-responsive {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.product {
    padding: 1rem;
    background-color: blueviolet;
    color: white;
}

.cart-item {
    background-color: crimson;
    padding: 1rem;
    color: white;
}